<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="TestPack.Listeners"/>

            </listeners>
    <parameter name = "URL" value="qaclickacademy.com"/>
    <test name="Smoke Tests">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Smoke"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
                <class name="TestPack.Demo"/>
        </classes>
    </test>
    <test name="Regression test">
        <classes>
            <class name="TestPack.Demo1"/>
        </classes>
    </test>

</suite>